---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";

const quickLinks = [
	{ name: "Home", href: "/" },
	{ name: "Blog", href: "/blog" },
	{ name: "About", href: "/about" },
];
---

<header class="w-full py-10">
	<nav class="flex items-center justify-center flex-row gap-10">
		<h2 class="text-2xl"><a href="/">{SITE_TITLE}</a></h2>
		<div class="flex-1 border-border border rounded-full px-15 py-3">
			<div class="flex flex-row gap-4 items-center">
				<HeaderLink href="/">Home</HeaderLink>
				<div class="w-1 h-1 rounded-full bg-black"></div>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<div class="w-1 h-1 rounded-full bg-black"></div>
				<HeaderLink href="/collections">Collections</HeaderLink>
				<div class="w-1 h-1 rounded-full bg-black"></div>
				<HeaderLink href="/categories">Categories</HeaderLink>
				<div class="w-1 h-1 rounded-full bg-black"></div>
				<HeaderLink href="/services">Services</HeaderLink>
				<div class="w-1 h-1 rounded-full bg-black"></div>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
		</div>
		<div class=""></div>
	</nav>
</header>
